openapi: 3.1.0
info:
  title: Google People API (Contacts) ContactGroups People:createContact API
  description: The Google People API provides access to information about profiles and contacts. It allows you to list, create, update, delete, and search contacts, as well as manage contact groups. It replaces the legacy Google Contacts API.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/people
servers:
- url: https://people.googleapis.com/v1
security:
- oauth2: []
tags:
- name: People:createContact
paths:
  /people:createContact:
    post:
      operationId: createContact
      summary: Create a contact
      description: Create a new contact and return the person resource for that contact.
      parameters:
      - name: personFields
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Person'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
      tags:
      - People:createContact
components:
  schemas:
    Person:
      type: object
      properties:
        resourceName:
          type: string
          description: The resource name for the person.
        etag:
          type: string
        metadata:
          type: object
          properties:
            sources:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: string
        names:
          type: array
          items:
            type: object
            properties:
              displayName:
                type: string
              familyName:
                type: string
              givenName:
                type: string
              middleName:
                type: string
        emailAddresses:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
                format: email
              type:
                type: string
        phoneNumbers:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              type:
                type: string
        addresses:
          type: array
          items:
            type: object
            properties:
              formattedValue:
                type: string
              type:
                type: string
              streetAddress:
                type: string
              city:
                type: string
              region:
                type: string
              postalCode:
                type: string
              country:
                type: string
        organizations:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              title:
                type: string
              department:
                type: string
        birthdays:
          type: array
          items:
            type: object
            properties:
              date:
                type: object
                properties:
                  year:
                    type: integer
                  month:
                    type: integer
                  day:
                    type: integer
        photos:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                format: uri
              default:
                type: boolean
        biographies:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              contentType:
                type: string
        urls:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
                format: uri
              type:
                type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/contacts: See, edit, download, and permanently delete your contacts
            https://www.googleapis.com/auth/contacts.readonly: See and download your contacts
            https://www.googleapis.com/auth/contacts.other.readonly: See and download contact info automatically saved in your Other contacts
            https://www.googleapis.com/auth/directory.readonly: See and download your organization's GSuite directory
